.front-page {
	background-color: var(--color-bg);
	text-align: center;
	height: 100%;
	width: 100%;
}

.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3rem;
	color: var(--color-text);
}

h2 {
	font-size: 1.5rem;
	color: var(--color-text-muted);
	font-weight: normal;
}

.btn-group {
	display: flex;
}

.btn-group > button {
	flex: 1 0 0;
	margin: 8px;
	border-radius: 6px;
}

.recipeCard-group {
	display: flex;
	flex-direction: column;
}

.recipeCard {
	background-color: white;
	height: 20vh;
	width: 40vh;
	margin: 10px;
	border-radius: 6px;
}
