.explore-recipes {
    background-color: var(--color-bg);
    text-align: center;
    height: 100%;
    width: 100%;
}

.recipeCard {
    background-color: var(--card-color);
    width: 40vh;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 0.1px solid var(--color-border);
}

.recipeCardImg {
    height: 90px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.recipeCard h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-text-dark);
    font-weight: 500;
}

.recipeCard h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-text-medium);
    font-weight: 300;
}

.page-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.page-buttons button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-text-medium);
    background-color: var(--card-color);
    color: var(--color-text-medium);
    font-weight: 300;
    cursor: pointer;
}

.page-buttons button:hover {
    background-color: rgb(240, 240, 240);
}
