.explore-recipes {
    background-color: var(--color-bg);
    text-align: center;
    height: 100%;
    width: 100%;
}

.page-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.page-buttons button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-text-medium);
    background-color: var(--card-color);
    color: var(--color-text-medium);
    font-weight: 300;
    cursor: pointer;
}

.page-buttons button:hover {
    background-color: rgb(240, 240, 240);
}
