.front-page {
	background-color: var(--color-bg);
	text-align: center;
	height: 100%;
	width: 100%;
}

.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3rem;
	color: var(--color-text);
	font-weight: 300;
}

h2 {
	font-size: 1.5rem;
		color: rgb(69, 69, 69);

	font-weight: normal;
}

.btn-group {
	display: flex;
}

.btn-group > button {
	flex: 1 0 0;
	width: 10rem;
	height: 2.5rem;
	margin: 4px;
	border-radius: 14px;
	font-weight: 300;
	color: rgb(105, 105, 105);
	border: 1px solid rgb(105, 105, 105);
}

.recipeCard-group {
	display: flex;
	flex-direction: column;
	padding: 4px;
}

.recipeCard {
	background-color: white;
	width: 40vh;
	border-radius: 10px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	text-align: left;
	border: 0.1px solid rgb(162, 162, 162);
}

.recipeCardImg {
	height: 90px;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.recipeCard h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: rgb(69, 69, 69);
	font-weight: 500;

}

.recipeCard h5 {
	margin-top: 0;
	margin-bottom: 0;
	color: rgb(105, 105, 105);
	font-weight: 300;
}
