#full-recipe > .img-container {
    position: relative;
    width: 100%;
    height: 300px;

    overflow: hidden;
}

#full-recipe > .img-container > img {
    position: absolute;
    object-fit: scale-down;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
}
