#full-recipe > .img-container {
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

#full-recipe img {
    position: absolute;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
}

#full-recipe ul,
#full-recipe ol {
    text-align: left;
    border: 2px solid var(--color-border);
    background-color: var(--color-bg-muted);
    color: var(--color-text);
    border-radius: 4px;
    padding: 2rem;
}

#full-recipe li {
    margin-bottom: 0.5rem;
}

#full-recipe #lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#full-recipe h1 {
    font-size: 1.6rem;
}

#full-recipe h2 {
    font-size: 1.25rem;
}
