:root {
    --color-bg: #d9d9d9;
    --color-bg-muted: #cfcfcf;
    --color-primary: #e3e3e3;
    --color-secondary: #2c2c2c;
    --color-card: #fff;
    --color-text: #1e1e1e;
    --color-text-link: #1976d2;
    --color-text-secondary: #eeeeee;
    --color-text-muted: #757575;
    --color-text-medium: rgb(105, 105, 105);
    --color-text-dark: rgb(69, 69, 69);
    --color-text-darker: rgb(45, 45, 45);
    --color-border: rgb(162, 162, 162);
    --color-border-light: #ccc;
    --color-success: #4caf50;
    --color-success-hover: #45a049;
    --color-info: #2196f3;
    --color-info-hover: #0b7dda;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

#app {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

main {
    background-color: var(--color-bg);
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 11vh 2rem;
    overflow-y: scroll;
    overflox-x: hidden;
}

input,
button,
textarea,
select,
li,
ul,
ol {
    color: var(--color-text);
    font: inherit;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    color: var(--color-text-dark);
    font-weight: normal;
}

.btn {
    margin: 4px;
    border-radius: 4px;
    font-weight: 300;
    border: 1px solid var(--color-border);
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    filter: brightness(105%);
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
}

.btn-success {
    background-color: var(--color-success);
    color: white;
}

.btn-sq {
    aspect-ratio: 1 / 1;
}

a {
    color: inherit;
    text-decoration: none;
}
