:root {
	--color-bg: #d9d9d9;
	--color-bg-muted: #cfcfcf;
	--color-primary: #e3e3e3;
	--color-secondary: #2c2c2c;
	--card-color: #fff;
	--color-text: #1e1e1e;
	--color-text-muted: #757575;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	border: 0;
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
}

#app {
	height: 100%;
}

main {
	background-color: var(--color-bg);
	text-align: center;
	height: 100%;
	width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6vh;
	text-align: center;
	background-color: var(--color-bg);
	border-top: 2px solid var(--color-bg-muted);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 2rem;
	background-color: var(--color-bg);
	border-bottom: 2px solid var(--color-bg-muted);
}

nav > div > h1 {
	font-size: large;
	background-color: white;
	padding: 0.5rem 1rem;
	border-radius: 8px;
}
