.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.heading > button {
    background-color: var(--color-success);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 1.5rem;
}
