.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.heading > button {
    background-color: var(--color-success);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 1.5rem;
}

.recipesContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    max-height: 54vh;
    overflow-y: auto;
    margin-bottom: 2rem;
    position: relative;
    padding: 30px 0.5rem;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}
.search-container {
    display: flex;
    margin: 10px 0 0 -6px;
    width: 100%;
    height: 5%;
    margin-bottom: 20px;
}

.search-bar {
    flex: 1;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    border-right: none;
    padding-left: 1rem;
}

.search-btn {
    padding: 10px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 0 5px 5px 0;
    background-color: var(--color-primary);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-btn:hover {
    background-color: rgb(240, 240, 240);
}
