.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.heading > button {
    background-color: var(--color-success);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 1.5rem;
}

.recipeCard-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
    gap: 0.5rem;
}

.myRecipeCard {
    background-color: var(--card-color);
    width: 40vh;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    border: 0.1px solid var(--color-border);
}

.myRecipeCardImg {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.myRecipeCard h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--color-text-darker);
    font-weight: 500;
}

.myRecipeCard h4 {
    font-style: oblique;
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--color-text-dark);
    font-weight: 400;
}

.myRecipeCard h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-text-medium);
    font-weight: 300;
}
