.myRecipeCard {
    background-color: white;
    width: 40vh;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    border: 0.1px solid rgb(162, 162, 162);
    margin-top: 10px;
}

.myRecipeCardImgBox{
    height: 90px;
    width: 90px;
    margin-right: 10px;
}

.myRecipeCardImg {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.myRecipeCard h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    color: rgb(45, 45, 45);
    font-weight: 500;
}

.myRecipeCard h4 {
    font-style: oblique;
    margin-top: 4px;
    margin-bottom: 4px;
    color: rgb(69, 69, 69);
    font-weight: 400;
}

.myRecipeCard h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(105, 105, 105);
    font-weight: 300;
}
