.my-recipes-view{
    background-color: var(--color-bg);
	text-align: center;
	height: 85.5%;
	width: 100%;
	position: relative;
}

.recipesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg);
    width: 100%;
    max-height: 58vh;
    overflow-y: auto;
    margin-bottom: 12px;
    padding-left: 14px;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

.myRecipeCard {
	background-color: white;
	width: 40vh;
	border-radius: 10px;
	padding: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	border: 0.1px solid rgb(162, 162, 162);
    margin-top: 10px;
}

.myRecipeCardImg {
	height: 90px;
	width: 90px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}

.myRecipeCard h3 {
	margin-top: 4px;
	margin-bottom: 4px;
	color: rgb(45, 45, 45);
	font-weight: 500;
}

.myRecipeCard h4 {
	font-style: oblique;
	margin-top: 4px;
	margin-bottom: 4px;
	color: rgb(69, 69, 69);
	font-weight: 400;
}

.myRecipeCard h5 {
	margin-top: 0;
	margin-bottom: 0;
	color: rgb(105, 105, 105);
	font-weight: 300;
}

.addRecipeBtn{
height: 4%;
width: 19.7vh;
font-size: 0.875rem;
color: white;
background-color: black;
border-color: rgb(0, 0, 0);
border-radius: 6px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-bottom: 10px;
}

.recommendRecipeBtn{
height: 4%;
width: 19.7vh;
font-size: 0.875rem;
color: white;
background-color: black;
border-color: rgb(0, 0, 0);
border-radius: 6px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-bottom: 10px;
}

.search-container {
    display: flex;
    margin: 5px auto 0;
    width: 40.2vh;
	height: 5%;
    margin-bottom: 20px;
}

.search-bar {
    flex: 1;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    border-right: none;
}

.search-btn {
    padding: 10px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 0 5px 5px 0;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-btn:hover {
    background-color: rgb(240, 240, 240);
}

