.recipeCard {
    background-color: var(--card-color);
    max-width: 100%;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 0.1px solid var(--color-border);
}

.recipeCardImg {
    height: 90px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.recipeCard h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-text-dark);
    font-weight: 500;
}

.recipeCard h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-text-medium);
    font-weight: 300;
}

.recipeCard-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
    gap: 1rem;
}

.showMoreBtn {
    width: 6rem;
    height: auto;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 1.5rem;
    font-weight: 300;
}

.showMoreBtn:hover {
    color: white;
}
