.showRecipeCard{
    display: flex;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;

}

.showRecipeCardImg{
    display: flex;
    height: 16vh;
    width: 60%;
    object-fit: cover;
    border-radius: 8px;
}

.showRecipeText{
    height: 80%;
    width: 50%;
}

.showRecipeText h4 {
    color: grey;
    font-weight: 500;
}
