#suggest-recipe-form {
    display: flex;
    flex-direction: column;
}

#suggest-recipe-form h1 {
    text-align: center;
    margin: 1rem;
}

.input-with-button {
    display: flex;
    gap: 0.5rem;
}

.input-with-button input {
    flex: 1;
    border: 2px solid var(--color-border-light);
    padding: 0.75rem;
    border-radius: 4px;
}

.input-with-button button {
    flex-shrink: 0;
    width: auto;
    padding: 0.75rem 1rem;
}

#ingredients-list {
    text-align: left;
    margin: 0.5rem 0 0 0;
    padding-left: 1.5rem;
    width: 100%;
}

#ingredients-list:empty {
    display: none;
}
